@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full text-[#354052] py-[.875rem] px-[1.25rem] leading-6 bg-white rounded-[0.50rem] border border-[#DFE1E6] focus:outline-none focus:ring-1 focus:border-[#008DFB] placeholder:text-[#7A869A] placeholder:font-normal placeholder:text-sm;
  }
}
@layer components {
  .label {
    @apply block text-base py-2;
  }
  .control {
    @apply block my-1;
  }
  .errorControl {
    @apply border-[#DC4437] border border-solid;
  }
  .errorText {
    @apply text-[#DC4437] text-sm leading-5 items-center mt-1;
  }
  .selected {
    @apply border-2 border-[#0E64E6] bg-[#EEF5FF];
  }
  .notSelected {
    @apply border border-[#DADEE4] bg-white;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

[type="tel"].PhoneInputInput {
  @apply w-full p-[0.4rem] !rounded-none !border-none focus:outline-none focus:ring-0 focus:border-none placeholder:text-[#7A869A] !text-[1rem] leading-6;
}
[type="text"].custom-select__input {
  @apply p-0 !rounded-none !border-none focus:outline-none focus:ring-0 focus:border-none placeholder:text-[#7A869A] !text-[1rem] leading-6;
}
.custom-select__indicator-separator {
  @apply hidden;
}

.custom-select__placeholder {
  @apply !text-[#7A869A];
}
.myselect .custom-select__value-container {
  @apply pl-9 pr-6;
}
.myselect .custom-select__control {
  @apply bg-[#F9FAFB];
}
.myselect-2 .custom-select__control {
  @apply rounded-r-none bg-[#F9FAFB];
}
.rotation-animation {
  animation: rotation 15s infinite linear;
}

.rotation-animation-reverse {
  animation: rotation 15s infinite reverse linear;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
